---
layout: default
title: "Olá 🙂"
image: 'img/banner.png'
---

<h2 class="h4 mb-5">Episódio recente</h2>

{% for post in site.categories.episodio limit:1%}
  {% include banner.html %}
{% endfor %}

<section class="text-center py-5 my-5">
  <h2 class="h4 mb-4">Acesse o podcast através das plataformas</h2>
  {% include platforms.html %}   
</section>

<section class="episodes">
  <h2 class="mb-4">Outros episódios</h2>
  <div class="row">

    {% for post in site.categories.episodio limit:4%}
    {% include looping.html %}
    {% endfor %}
  </div>
</section>

</body>

</html>