---
layout: default
image: 'img/banner.png'
title: Um podcast sobre acessibilidade, diversidade e inclusão na tecnologia
---

<section id="banner">
  {% include slogan.html %} 
  {% include banner.html %} 
</section>

<section class="programs" id="programs">
  <h2 class="section-title">Nossos últimos episódios</h2>
  <ul class="row">
    {% for post in site.posts limit:6%}
    {% include program-loop.html %}
    {% endfor %}
  </ul>
</section>
<!-- <section class="articles" id="articles">
  <h2 class="section-title">Artigos</h2>
  <ul class="row">
    {% for post in site.posts limit:3%}

    {% include article-loop.html %}
    {% endfor %}

  </ul>
</section> -->