
    
    {% if page.path contains '_posts' %} {% else %}<h2 class="py-5 px-3 banner">Acessibilidade, inclusão e diversidade na tecnologia.</h2>{% endif %}
    

    {% for post in site.posts limit:1 %}

        <h2 class="section-subtitle text-uppercase">
        {% if page.path contains '_posts' %}
            {{page.categories}}
            {% if page.number %} — {{page.number}}{% else %}{% endif%}
            {% if page.duration %} / {{page.duration}}{% else %}{% endif%}
        {% else %}
          Episódio recente
        {% endif %}

        </h2>


    <article class="recent p-lg-5 p-md-4 p-3 rounded">
        <div class="row">
            <div class="col-lg-4 col-12 pl-0">
                <img src="{{site.url}}/{{post.image}}" class="program-gust-picture w-100 object-fit-cover border rounded" title="Foto de {{post.guest}}" alt="{{post.alt}}">
            </div>
            <div class="col-lg-8 col-12 col-md d-flex align-items-start flex-column">
                <div class="mb-4">
                  <h3 class="h2 program-title"><a title="Clique para acessar o episódio" href="{{post.url}}">{{post.title}}</a></h3>
                  <h4 class="h4 mt-3 program-guest">{{post.guest}} &bull; {{post.role}}</h4>
                </div>
                {{post.excerpt}}
                <div class="mt-3 mb-4 w-100">{% include player.html %}</div>

                {% if page.path contains '_posts' %}
                <a href="#content-detail" title="Clique para acessar informações sobre o episódio"><i class="bi bi-arrow-down-short pe-2"></i>Detalhes</a>
                {% else %}
        
                <a href="{{post.url}}" title="Clique para acessar informações sobre o episódio">
                  <i class="bi bi-headphones me-2"></i>Acesse os links e a transcrição do episódio</a>
                {% endif %}
            </div>
        </div>
    </article>
    {% endfor %}
  
      {% include subscribe.html %}
