{% assign sorted_posts = site.categories.Episodios | sort: 'date' | reverse %}
{% for post in sorted_posts limit:1 %}

<h2 class="section-subtitle text-uppercase">
  {% if page.path contains '_posts' %}
  {% if page.number %}
  <div class=" d-flex justify-content-start">
    <span class="episodiosItem">{{post.categories}}</span>&nbsp;&mdash;&nbsp;{{page.number}} / {{page.duration}}{% endif%}
  </div>
  {% else %}
    Episódio recente
  {% endif %}
</h2>

<article class="recent p-lg-5 p-md-4 p-3 rounded-2">
  <div class="row">
    <figure class="col-lg-4 col-12 pl-0 m-0 pb-0">
      <img src="{{site.url}}/{% if page.path contains '_posts' %}{{page.image}}{% else %}{{post.image}}{% endif %}"
        class="program-gust-picture ratio ratio-1x1 object-fit-cover border rounded-2"
        title="Foto de {% if page.path contains '_posts' %}{{page.guest}}{% else %}{{post.guest}}{% endif %}"
        alt="{% if page.path contains '_posts' %}{{page.alt}}{% else %}{{post.alt}}{% endif %}">
    </figure>
    <div class="col-lg-8 col-12 col-md d-flex align-items-start flex-column">
      <div class="mb-4">
        <h3 class="h2 program-title">
          <a title="Clique para acessar o episódio"
            href="{% if page.path contains '_posts' %}{{page.url}}{% else %}{{post.url}}{% endif %}">
            {% if page.path contains '_posts' %}{{page.title}}{% else %}{{post.title}}{% endif %}
          </a>
        </h3>
        <h4 class="h4 mt-3 program-guest">
          {% if page.path contains '_posts' %}{{page.guest}}{% else %}{{post.guest}}{% endif %} &bull; {% if page.path
          contains '_posts' %}{{page.role}}{% else %}{{post.role}}{% endif %}
        </h4>
      </div>
      {% if page.path contains '_posts' %}{{page.excerpt}}{% else %}{{post.excerpt}}{% endif %}
      <div class="my-3 w-100">{% include player.html %}</div>

      {% if page.path contains '_posts' %}
      <a href="#content-detail" title="Clique para acessar informações sobre o episódio">
        <i class="bi bi-arrow-down-short pe-2"></i>
        Detalhes
      </a>
      {% else %}

      <a href="{{post.url}}" title="Clique para acessar informações sobre o episódio">
        <i class="bi bi-headphones me-2"></i>
        Acesse os links e a transcrição do episódio
      </a>
      {% endif %}
    </div>
  </div>
</article>

{% endfor %}

{% include subscribe.html %}