<!doctype html>
<html lang="pt-br" class="no-js">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="https://fonts.cdnfonts.com/css/noto-sans" rel="stylesheet">

    <link rel="stylesheet" href="{{ '/css/main.css' | prepend: site.baseurl }}">
    
    <!-- <link rel="stylesheet" href="https://meyerweb.com/eric/tools/css/diagnostics/diagnostic.css"> -->
    
    <link rel="shortcut icon" type="image/png" href="{{ site.url }}/img/icon/icon-1.png">
    <link rel="shortcut icon" sizes="196x196" href="{{ site.url }}/img/icon/icon-1.png">
    <link rel="apple-touch-icon" href="{{ site.url }}/img/icon/icon-1.png">

    <meta name="description" content="{% if description.size > 10 %}{{ description }}{% else %}{{ site.description }}{% endif %}">
  
    <meta property="og:type"                content="article">  
    <meta property="article:publisher"      content="http://www.facebook.com/focoacessivel" />
    <meta property="article:author"         content="https://www.facebook.com/wagnerbeethoven" />
    <meta property="article:published_time" content="{{ page.date }}" />
    <meta property="og:locale"              content="pt_BR">
    <meta property="og:title"               content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta property="og:url"                 content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta property="og:site_name"           content="{{ site.title }}"/>
    <meta property="og:description"         content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta property="og:image"               content="{{ site.url }}/{{ page.image }}" />


    <meta name="twitter:card" content="summary_large_image"/>
    <meta name="twitter:site" content="@focoacessivel">
    <meta name="twitter:title" content="{%if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}" />
    <meta name="twitter:url" content="{{ site.url }}/{{ page.url }}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="twitter:site" content="@webjeda" />
    <meta name="twitter:creator" content="@wagnerbeethoven">
    <meta name="twitter:card" content="summary">

    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ '/feed.xml' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="sitemap" type="application/xml" title="Sitemap" href="{{ '/sitemap.xml' | prepend: site.baseurl | prepend: site.url }}" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"></script>
</head>

