<a href="{{post.url}}" class="py-3 list-group-item list-group-item-action" tltle="Acesse o episódio">
  <div class="row">
    <figure class="col-12 col-sm-4 col-lg-2 mb-3 mb-md-0">
      <img src="{{site.url}}/{{post.image}}" class="rounded" alt="{{post.alt}}">
    </figure>
    <div class="col-12 col-md-8 col-lg-10 pt-3">
      <div class="d-flex w-100 justify-content-between">
        <h3 class="mb-1">{{post.title}}</h3>
      </div>
      <p class="my-3">{{post.description}}</p>
      <small class="d-flex justify-content-between text-muted">
        <span title="Convidado">
          <i class="bi bi-people-fill me-2"></i>{{post.guest}}
        </span>
        <span>
          <span title="Duração"><i class="bi bi-clock me-2"></i>{{post.duracao}}</span>
          <span class="p-2"></span>
          <span title="Data">
            <i class="bi bi-calendar me-2"></i>
            {{ post.date | date: "%m/ %Y" }}
          </span></span>

      </small>
    </div>
  </div>
</a>