<div class="col-md-6 col-lg-4 col-12 mb-3">
  <div class="card pb-2">
    <img src="{{site.url}}/{{post.image}}" class="card-img-top" alt="{{post.alt}}">
    <div class="card-body">
      <h3 class="card-title h5 mb-3">{{post.title}}</h3>
      <p class="card-text text-muted">{{post.description}}</p>
    </div>
    


    <small class="px-3 d-flex justify-content-between text-muted">
      <span title="Convidado">
        <i class="bi bi-people-fill me-2"></i>{{post.guest}}
      </span>
      <span title="Duração">
        <i class="bi bi-clock me-2"></i>{{post.duracao}}
      </span>
    
      <a  class="border-start ps-2 ms-2" href="{{post.url}}" tltle="Acesse o episódio">
        <i class="bi bi-headphones me-2"></i>Acesse
      </a>
    </small>


    <div class="p-2"></div>


  </div>
</div>