
<script type="text/javascript">var submitted=false;</script>
<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted)  {window.location='http:\/\/127.0.0.1:4000/obrigado.html';}"></iframe>

<form
    action="https://docs.google.com/forms/u/2/d/e/1FAIpQLSeYfvVfbz-kTDxnredPB-4pZHFr0WMwkEYrKs0rAWnAoA5axw/formResponse"  method="post" target="hidden_iframe"
    onsubmit="submitted=true;">
    <div class="form-floating mb-3">
        <input type="email" class="form-control" required id="emailNewsletter" placeholder="abc@exyz.com" name="entry.1045781291">
        <label for="emailNewsletter">Digite o email para receber as comunicações</label>
    </div>


    <div class="row">
        <div class="col-12 col-md d-flex align-content-center">
            <div class="mb-3 mb-md-0 text-center text-md-start">
                Ao adicionar seu email, você concorda com os <a href="{{site.url}}/termos.html">termos de uso</a>.
            </div>
        </div>
        <div class="col-12 col-md-4">
            <button type="submit" class="w-100 btn btn-dark">Confirmar</button>
        </div>

    </div>
</form>
