<script type="text/javascript">var submitted = false;</script>
<iframe title="Redicionamento da inscrição" name="hidden_iframe" id="hidden_iframe" style="display:none;"
    onload="if(submitted)  {window.location='http:\/\/focoacessivel.com.br/obrigado.html';}"></iframe>

<section class="newsletter">
    <h2 class="section-title">Receba os episódios na sua caixa de entrada!</h2>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>Enviaremos no máximo duas mensagens por mês para deixar você confortável em nos ouvir.</p>
            <p id="emailHelp" class="form-text">Ao adicionar seu email, você concorda com os <a href="https://focoacessivel.github.io/termos.html">termos de uso</a>.</p>
        </div>
        <div class="col-12 col-md-6" id="mc_embed_shell">
            <div id="mc_embed_signup">
                <form action="https://github.us21.list-manage.com/subscribe/post?u=1b53d19e5242260344b4ea735&amp;id=d7175742eb&amp;f_id=0076e1e6f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                    <div class="form-floating mc-field-group" id="mc_embed_signup_scroll">
                        <input type="email" name="EMAIL" class="required email form-control" placeholder="abc@exyz.com"  id="mce-EMAIL" required="" value="" aria-describedby="emailHelp">
                        <label for="mce-EMAIL" class="form-label">Digite o email para receber as comunicações</label>
                    </div>
                    <button  type="submit" name="subscribe" id="mc-embedded-subscribe" class="button mt-3 w-50 button">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</section>