<script type="text/javascript">var submitted = false;</script>
<iframe title="Redicionamento da inscrição" name="hidden_iframe" id="hidden_iframe" style="display:none;"
    onload="if(submitted)  {window.location='http:\/\/focoacessivel.com.br/obrigado.html';}"></iframe>

<section class="newsletter" id="newsletter">
    <h2 class="section-title">Receba as novidades no seu email</h2>
    <div class="row">
        <div class="col-12 col-md-6">
            <p>Enviaremos no máximo duas mensagens por mês para deixar você confortável em nos ouvir.</p>
            <p id="emailHelp" class="form-text">Ao adicionar seu email, você concorda com os <a href="https://focoacessivel.github.io/termos.html">termos de uso</a>.</p>
        </div>
        <div class="col-12 col-md-6" id="mc_embed_shell">
            {% include newsletter-form.html %}
        </div>
    </div>
</section>
