<section class="sponsors">
    <div class="row sponsors-feature">
        <div class="col-12 col-md sponsors-feature-picture">
            <img class="img-fluid rounded" src="{{site.url}}/img/sponsors/sponsors-banner.jpg" alt="Lorem">
        </div>
        <div class="col-12 col-md sponsors-feature-detail align-items-start d-flex flex-column">
            <h2 class="sub-title">NOSSO PATROCINADOR ATUAL</h2>
            <img class="sponsors-feature-logo" src="{{site.url}}/img/sponsors/cesar.svg" alt="Logo">

            <p class="fw-bold">Pessoas impulsionando inovação Inovação impulsionando negócios</p>
            <p>
                <span class="d-block lead">O CESAR um centro de inovação que há mais de duas décadas forma pessoas e
                    impulsiona organizações,
                    potencializando suas estratégias digitais.
                </span>
                <a href="http://cesar.org.br" class="mt-5 mb-3 btn btn-primary">Obtenha um desconto de 10% através da
                    nossa parceria</a> 
                    <div class="w-100"></div>
                    <a href="{{site.url}}/contato" class="text-decoration-none" role="button">Seja uma marca apoiadora, torne-se um patrocinador →</a>
            </p>

        </div>
    </div>

    <div class="text-center">
        <h3 class="sub-title mt-5 mb-3">Marca que nos apoiam</h3>
        <div class="sponsors-list d-flex flex-wrap  justify-content-center py-4">
            <img class="object-fit-contain" src="{{site.url}}/img/sponsors/accenture.png" alt="Logo">
            <img class="object-fit-contain" src="{{site.url}}/img/sponsors/cesar.svg" alt="Logo">
            <img class="object-fit-contain" src="{{site.url}}/img/sponsors/neurotech.png" alt="Logo">
            <img class="object-fit-contain" src="{{site.url}}/img/sponsors/procenge.svg" alt="Logo">
            <img class="object-fit-contain" src="{{site.url}}/img/sponsors/nttdatasvg.svg" alt="Logo">
            <img class="object-fit-contain" src="{{site.url}}/img/sponsors/cesar-school.svg" alt="Logo">
        </div>
    </div>
</section>