<ul class="nav-platforms list-inline">
  {% for item in site.data.links.platforms-main %}
  <li class="list-inline-item p-1">
    <a href="{{item.link}}" target="_blank" title="Assine no {{item.name}} - nova aba" rel="noopener noreferrer" class="button button-outline">
     <img
      src="{{site.url}}/img/platform/{{item.name | slugify}}.svg"
      class="me-2"
      alt="Logo da {{item.name}}" />
        {{item.name}}
    </a>
  </li>
  {% endfor %}
  <li class="list-inline-item p-1"> <a class="button button-outline" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas" title="Confira todas as plataformas"><i class="bi bi-three-dots"></i></a> </li>
</ul>



<!-- <ul class="nav-platforms list-inline" id="myTab" role="tablist">
  {% for item in site.data.links.platforms-main %}
  <li class="list-inline-item p-1">
     <a href="{{item.link}}" target="_blank" title="Assine no {{item.name}} - nova aba" rel="noopener noreferrer" class="button button-outline">
    </a>


      <button  title="Assine no {{item.name}}"
      class="button button-outline"
      id="{{item.name | slugify}}-tab"
      data-bs-toggle="tab"
      data-bs-target="#{{item.name | slugify}}-tab-pane"
      type="button" role="tab"
      aria-controls="{{item.name | slugify}}-tab-pane"
      aria-selected="true">





     <img
      src="{{site.url}}/img/platform/{{item.name | slugify}}.svg"
      class="me-2"
      alt="Logo da {{item.name}}" />
        {{item.name}} </button>
   
  </li>
  {% endfor %}
  <li class="list-inline-item p-1"> <a class="button button-outline" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas" title="Confira todas as plataformas"><i class="bi bi-three-dots"></i></a> </li>



</ul>



<div class="tab-content" id="myTabContent">
{% for item in site.data.links.platforms-main %}


<div class="tab-pane fade" id="{{item.name | slugify}}-tab-pane" role="tabpanel" aria-labelledby="{{item.name | slugify}}-tab" tabindex="0">

  <div class="py-3 px-3 px-md-5">
    {{item.iframe}}
  </div>

  </div>
  {% endfor %}
</div> -->
