<ul class="nav-platforms list-inline">
  {% for item in site.data.links.streaming %}
  <li class="list-inline-item p-1">
    <a href="{{item.link}}" target="_blank" title="Assine no {{item.name}} - nova aba" rel="noopener noreferrer" class="button button-outline">
     <img src="{{site.url}}/img/platform/{{item.name | slugify}}.svg" class="me-2" alt="Logo da {{item.name}}" /> {{item.name}}
    </a>
  </li>
  {% endfor %}
  <li class="list-inline-item p-1">
    <a class="button button-outline" data-bs-toggle="offcanvas" href="#offcanvas" role="button" aria-controls="offcanvas" title="Confira todas as plataformas">
      <i class="bi bi-three-dots"></i>
    </a>
  </li>
</ul>