{% if include.pageurl != nil and include.pageurl != '' %}
{% assign pageurl = include.pageurl %}
{% else %}
{% assign pageurl = page.url %}
{% endif %}

<style>
.compartilhe a {color: var(--bs-secondary-color)}
.compartilhe i {font-size: 2rem;color: #d5d5d5;}
.compartilhe .facebook>i {color: #3B5998;}
.compartilhe .twitter>i {color: #55ACEE;}
.compartilhe .linkedin>i {color: #0077b5;}
.compartilhe .pinterest>i {color: #CB2027;}
.compartilhe .gplus>i {position: relative;}
.compartilhe .gplus:hover>i {color: #dd4b39;}
.compartilhe .mail:hover>i {color: #7D7D7D;}
</style>

<div class="border-top mt-5 pt-5 compartilhe">
    <span class="fw-bold d-block mb-3">Compartilhe: </span>
    <a target="_blank" class="facebook" title="Este link vai abrir uma nova aba para você compartiilhar no Facebook" href="http://www.facebook.com/share.php?u={{ site.url }}{{ pageurl }}"><i class="bi bi-facebook"></i></a>
    <a target="_blank" class="ms-3 twitter" title="Este link vai abrir uma nova aba para você compartiilhar no Twitter" href='http://twitter.com/home?status={{ site.url }}{{ pageurl }}'><i class="bi bi-twitter"></i></a>
    <a target="_blank" class="ms-3 linkedin" title="Este link vai abrir uma nova aba para você compartiilhar no Linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{ site.url }}{{ pageurl }}&title=&summary=&source="><i class="bi bi-linkedin"></i></a>
    {% if page.image %}
    <a target="_blank" class="ms-3 pinterest" title="Este link vai abrir uma nova aba para você compartiilhar no  Pinterest" href="https://pinterest.com/pin/create/button/?url=&media={{ site.url }}{{ page.image }}&description="><i class="bi bi-pinterest"></i></a>
    {% endif %}
    <a target="_blank" class="ms-3 mail" title="Este link vai abrir uma nova aba para você enviar esse link por Email" href="mailto:?&body={{ site.url }}{{ pageurl }}"><i class="bi bi-envelope-fill"></i></a>
</div>