<section class="sponsors text-center">
    <div class="row sponsors-feature">
        <div class="col-12 col-md sponsors-feature-picture">
            <img class="img-fluid rounded" src="{{site.url}}/img/sponsors/sponsors-banner.jpg" alt="Lorem">
        </div>
        <div class="col-12 col-md sponsors-feature-detail align-items-start d-flex flex-column">
            <h2 class="sub-title">NOSSO PATROCINADOR ATUAL</h2>
            <h3 class="visually-hidden-focusable">Procenge</h3>
            <img class="sponsors-feature-logo" src="{{site.url}}/img/sponsors/procenge.svg" alt="Logo">

            <p class="text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in
                eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo
                diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet. Nunc ut sem
                vitae risus tristique posuere.</p>
            <a href="#" class="button">Obtenha um desconto de 10% através da nossa parceria</a>
            <a class="text-decoration-none" href="{{site.url}}/contato">Torne-se um patrocinador →</a>
        </div>
    </div>

    <h3 class="sub-title  py-4">Marca que nos apoiam</h3>
    <div class="sponsors-list d-flex flex-wrap  justify-content-center py-4">
        <img width="80px" src="{{site.url}}/img/sponsors/cesar-school.svg" alt="Logo">
        <img src="{{site.url}}/img/sponsors/procenge.svg" alt="Logo">
    </div>
    <a href="{{site.url}}/contato" class="button" role="button">Seja uma marca apoiadora</a>
</section>