<button type="button" data-bs-toggle="modal" data-bs-target="#support" class="text-decoration-none text-white btn-support btn btn-primary z-3  text-uppercase">
    <div class="pulsaDelay">Quer ajudar o<br> <span class="fw-bold">{{site.title}}</span>?</div>
</button>

<div class="modal modal-lg  fade" data-bs-backdrop="static" id="support" tabindex="-1" aria-labelledby="supportLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="supportLabel">Formas de ajudar o <span class="fw-bold">{{site.title}}</span></h1>
                <button type="button" title="Clique para fechar" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
                <p class="px-3">Existem várias maneiras de ajudar o podcast a se manter firme e forte! Todas as doações são usadas para pagar nosso editor, comprar equipamentos e manter os serviços necessários para manter o podcast no ar.</p>
                <p class="px-3 pb-4"><strong>Cada ajuda é super importante e faz toda a diferença</strong></p>
                <div class="accordion accordion-flush" id="accordionSupport">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Por Pix</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSupport">
                            <div class="accordion-body">
                                <div class="row">
                                    <div class="col-12 col-lg-8">
                                        <p>Para ajudar o podcast, basta <a href="https://nubank.com.br/cobrar/2p5k/65d0e131-9703-47c2-bce0-169d918ffb12"  ><strong>acessar o link</strong></a> e transferir qualquer quantia. Ao fazer isso, você será redirecionado para uma nova aba com o QR code do Nubank!</p>
                                        <p>Caso você não consigar acessar o link, abaixo disponibilizamos a chave-aleatória para transferência e o QR code.</p>
                                        <p><strong>Chave-aleatória</strong> <br> Clique em cima da chave-aleatória abaixo e cole no seu aplicativo de banco.</p>
                                        <div class="mt-3 col-12 rounded-1 p-2 bg-secondary text-truncate text-white">00020126580014BR.GOV.BCB.PIX01365686d2d5-4e24-4920-8053-38b20e86c4835204000053039865802BR5925Wagner Beethoven Martins 6009SAO PAULO62140510PxOUyNMvCp630494F1</div>
                                    </div>
                                    <div class="col-12 col-lg-4">
                                            <strong class="mt-0 d-block">QR Code</strong>
                                            <img style="width: 350px; height: auto" class="d-block img-fluid mx-auto" src="{{site.url}}/img/qrcode-nubank.png" alt="Aponte a sua camera para ler o QR Code">
                                        </div>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Por PayPal  
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSupport">
                            <div class="accordion-body">
                                <p>Por meio do PayPal, você pode contribuir com o podcast de diversas formas: uma única vez, através de doações recorrentes mensais ou anuais, e também usando seu cartão de crédito. Clique no botão abaixo para abrir uma nova aba e fazer a sua contribuição!</p>
                                <div class="text-center pt-3">
                                    <form action="https://www.paypal.com/donate" method="post"  target="_top">
                                        <input type="hidden" name="business" value="2FDL6XFS6PXA2" />
                                        <input type="hidden" name="no_recurring" value="0" />
                                        <input type="hidden" name="item_name" value="Com sua doação, invisto em equipamentos, edição e serviços para o crescimento do podcast!" />
                                        <input type="hidden" name="currency_code" value="BRL" />
                                        <input type="image" src="{{site.url}}/img/paypal.png" class="col-12 col-md-6 img-fluid mx-auto" name="submit" title="PayPal – A maneira mais segura e fácil de pagar online!" alt="Doe com o botão PayPal" />
                                        <img alt="Pixel de 1px por 1px utilizado pelo PayPal apenas para monitorar o tráfego" class="border-0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Não tenho dinheiro, mas gostaria de apoiar!
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSupport">
                            <div class="accordion-body">
                                <p>Que legal que você quer apoiar de alguma forma! Existem outras maneiras de ajudar além de contribuições financeiras.</p>
                                <p>Você pode compartilhar os episódios do podcast com seus amigos e nas nos seguir em nossas redes sociais ({% for item in site.data.links.network %}<span class="support-social social-{{item.name | slugify}}"><a href="{{item.link}}"   title="Nos acompanhe também no {{item.name}} - nova aba" rel="noopener noreferrer" >{{item.name}}</a></span>{% endfor %}), deixar comentários e avaliações nas plataformas de podcast, e até mesmo enviar sugestões de temas ou convidados.</p>
                                <p>Cada forma de apoio é muito valiosa e ajuda o podcast a crescer!</p>                          
                            </div>
                        </div>
                    </div>
                </div>


               
            </div>
            <div class="modal-footer border-0">
                <button type="button" title="Clique para fechar" class="btn btn-outline-secondary"
                    data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>