<button type="button" data-bs-toggle="modal" data-bs-target="#support" class="text-decoration-none text-white btn-support btn btn-primary z-3  text-uppercase">
    <div class="pulsaDelay">Quer ajudar o<br> <span class="fw-bold">{{site.title}}</span>?</div>
</button>

<div class="modal fade" data-bs-backdrop="static" id="support" tabindex="-1" aria-labelledby="supportLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="supportLabel">Formas de ajudar o <span class="fw-bold">{{site.title}}</span></h1>
                <button type="button" title="Clique para fechar" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body px-0">
                <p class="px-3">Existem várias maneiras de ajudar o podcast a se manter firme e forte! Todas as doações são usadas para pagar nosso editor, comprar equipamentos e manter os serviços necessários para manter o podcast no ar.</p>
                <p class="px-3 pb-4"><strong>Cada ajuda é super importante e faz toda a diferença</strong></p>
                <div class="accordion accordion-flush" id="accordionSupport">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">Transferência via pix</button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionSupport">
                            <div class="accordion-body">
                                <p>Para ajudar o podcast, basta <a href="https://nubank.com.br/cobrar/2p5k/65d0e131-9703-47c2-bce0-169d918ffb12" target="_blank"><strong>acessar o link</strong></a> e transferir qualquer quantia. Ao fazer isso, você será redirecionado para uma nova aba com o QR code do Nubank!</p>
                                <p>Caso você não consigar acessar o link, abaixo disponibilizamos a chave-aleatória para transferência e o QR code.</p>
                                <p><strong>Chave-aleatória</strong> <br> Clique em cima da chave-aleatória abaixo e cole no seu aplicativo de banco.</p>
                                <div class="mt-3 col-12 rounded-1 p-2 bg-secondary text-truncate text-white">00020126580014BR.GOV.BCB.PIX01365686d2d5-4e24-4920-8053-38b20e86c4835204000053039865802BR5925Wagner Beethoven Martins 6009SAO PAULO62140510PxOUyNMvCp630494F1</div>
                                <strong class="mt-4 d-block">QR Code</strong>
                                <img style="width: 350px; height: auto" class="d-block img-fluid mx-auto" src="{{site.url}}/img/qrcode-nubank.png" alt="Aponte a sua camera para ler o QR Code">
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> Transferência via "Buy me a coffee" </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionSupport">
                            <div class="accordion-body">
                                <p>Por meio da plataforma Buy me a Coffee, você pode contribuir com o podcast em dólares americanos! Basta clicar no botão abaixo para abrir uma nova aba e fazer a sua contribuição.</p>
                                <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="focoacessivel" data-color="#FFDD00" data-emoji="🫂" data-font="Inter" data-text="Buy me a coffe" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff"></script>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Não tenho dinheiro, mas gostaria de apoiar!
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionSupport">
                            <div class="accordion-body">
                                <p>Que legal que você quer apoiar de alguma forma! Existem outras maneiras de ajudar além de contribuições financeiras.</p>
                                <p>Você pode compartilhar os episódios do podcast com seus amigos e nas redes sociais, deixar comentários positivos e avaliações nas plataformas de podcast, e até mesmo enviar sugestões de temas ou convidados.</p>
                                <p>Cada forma de apoio é muito valiosa e ajuda o podcast a crescer!</p>                          
                            </div>
                        </div>
                    </div>
                </div>


               
            </div>
            <div class="modal-footer border-0">
                <button type="button" title="Clique para fechar" class="btn btn-outline-secondary"
                    data-bs-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>