---
layout: page
permalink: arquivo.html
title: Arquivo do site
---

<h3>Navegue pelas categorias</h3>
<nav>
    <ul class="nav">
        <li class="nav-item"><a class="nav-link ps-0 " href="#Episodios">Episódios</a></li>
        <li class="nav-item"><a class="nav-link ps-0 " href="#Blog">Blog</a></li>
        <li class="nav-item"><a class="nav-link ps-0 " href="#Paginas">Páginas do site</a></li>
    </ul>
</nav>
<section class="pt-5 mt-5" id="Episodios">
    <h4>Episódios</h4>
    <ul class="list-group list-group-flush">
        {% assign episodios = site.categories.Episodios | sort: 'date' | reverse %}
        {% for post in episodios %}
            <li class="px-0 list-group-item position-relative">
                <time class="text-body-tertiary" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%d/%m/%Y" }} | </time><a class="text-decoration-none stretched-link fw-bold" href="{{ post.url }}">{{post.title }}</a>: <span class="text-secondary">{{post.excerpt}}</span>
            </li>
        {% endfor %}
    </ul>
</section>
<section class="pt-5 mt-5" id="Blog">
    <h4>Episódios</h4>
    <ul class="list-group list-group-flush">
        {% assign posts = site.categories.Blog | sort: 'date' | reverse %}
        {% for post in posts %}
            <li class="px-0 list-group-item position-relative">
                <time class="text-body-tertiary" datetime="{{ post.date | date: '%Y-%m-%d'}}">{{ post.date | date: "%d/%m/%Y" }} | </time><a class="text-decoration-none stretched-link fw-bold" href="{{ post.url }}">{{post.title }}</a>: <span class="text-secondary">{{post.excerpt}}</span>
            </li>
        {% endfor %}
    </ul>
</section>

<section class="pt-5 mt-5" id="Paginas">
    <h4>Páginas do site</h4>
    <ul class="list-group list-group-flush">
        {% for item in site.data.links.menu %}
        <li class="px-0 list-group-item position-relative">
            <a class="text-decoration-none stretched-link" href="{{site.url}}/{{item.link}}" title="{% if item.description %}{{item.description}}{% else %}{{item.name}}{% endif %}">
                {{item.name}}
            </a>
        </li>
        {% endfor %}
        <li class="px-0 list-group-item position-relative">
            <a class="text-decoration-none stretched-link" href="{{site.url}}/newsletters" title="{% if item.description %}{{item.description}}{% else %}{{item.name}}{% endif %}">
                Lista de <span lang="en">newsletter</span> enviadas
            </a>

        </li>
        <li class="px-0 list-group-item position-relative">
            <a class="text-decoration-none stretched-link" href="{{site.url}}/declaracao-acessibilidade" title="{% if item.description %}{{item.description}}{% else %}{{item.name}}{% endif %}">
                Declaração de acessibilidade
            </a>

        </li>
    </ul>
</section>