---
layout: page
title: Blog
permalink: blog
# image: /img/banners/blog-banner-page.png
# alt: "Homem de pele negra, barba preta curta e careca, está vestindo uma camisa de manga longa de cor laranja, olha para a tela do laptop a sua frente. Ao fundo, uma porta e armário brancos e apoiado na bancada atrás do homem uma fruteira com frutas."
summary: Boas-vindas a nossa página com os artigos, popularmente chamada de blog 😉! Aqui, a gente decifra as referências faladas pelos nossos convidados em cada episódio e nós entrega mais detalhes, pra você ficar por dentro de tudo!
# legend: Foto criada artificiamente através do Adobe Express
---

<ul class="row" data-masonry='{"percentPosition": true }'>

  {% assign blog = site.categories.Blog | sort: 'date' | reverse %}
  {% for post in blog %}
    {% if post.categories contains 'Blog' %}
      {% include loop-blog.html%}
    {% endif %}
  {% endfor %}

</ul>